
.redmood-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff7f7;
    color: #333;
    z-index: 110;
  }
  .navbar-left {
    flex-direction: row;
    align-items: center;
    font-weight: 600;
  }
  .navbar-logo-container {
    display: flex;
    align-items: center;
  }
  .navbar-logo-title {
    font-size: 2em;
    color: #f76c82;
  }
  
  .navbar-left img {
    height: 100px;
    width: auto;
  }
  .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2em;
  }
  .navbar-right span{
    color: #f76c82;
  }