@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.sidebar {
  min-height: calc(100vh - 104px);
  width: 170px;
  background-color: #fff7f7;
  transition: 0.5s ease;
  font-family: "Titillium Web", sans-serif;
  position: relative;
  opacity: 1;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
.sidebar ul li {
  display: flex;
}
.sidebar ul li a {
  padding: 20px;
  color: #333;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 20px;
  flex: 1;
  background-color: #fff7f7;
  transition: .2s ease-in-out;
}

.sidebar ul li a:hover {
  color: #333;
  background-color: #7ebea9;
}

.sidebar-toggle {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  right: 0;
  transform: translate(100%, -50%);
  font-size: 64px;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 101;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-ease {
  transition: 0.5s ease;
  color: #fff;
  filter: drop-shadow(0px 0px 2px #000);
}
.rotate-180 {
  transform: rotate(180deg);
}

.icons-social-media {
  align-items: center;
  padding: 13px;
  width: 32px;
  cursor: pointer !important;
  transition: 300ms all ease-in-out;
  position: relative;
}

.icons-social-media:hover {
  translate: -0px -10px;
}

#instagram,
#youtube,
#twitch {
  transition: 300ms all ease-in-out;
  clip-path: circle(65%);
}

#instagram:hover {
  background-color: rgb(221, 157, 189);
}

#youtube {
  height: 35px;
}

#youtube:hover {
  background-color: rgb(241, 96, 96);
}

#twitch:hover {
  background-color: rgb(196, 143, 245);
}
