@font-face {
  font-family: "RedMood";
  src: url("August.otf");
}
* {
  font-family: "RedMood" !important;
  font-size: 20px;
}
.react-calendar {
  width: 35vw !important;
  border: 2px solid pink !important;
  border-radius: 30px;
  overflow: hidden;
}

.react-calendar__tile {
  position: relative;
  aspect-ratio: 1;
  font-size: 1.5em !important;
}
.react-calendar__tile:enabled:hover {
  border-radius: 20px;
}
.react-calendar__tile--rangeStart {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.react-calendar__tile--rangeEnd {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.react-calendar-emoji {
  font-size: 16px !important;
}
.react-calendar__navigation__label__labelText {
  font-size: 42px !important;
}
